<div class="container">
  <div id="stuff">
    <h1>Hungry?</h1>
    <h3>Find a truck near you.</h3>
  </div>

  <div id="pics">
    <div class="ui grid">
      <div class="row">

        <div class="four wide column img-wrap">
          <a href="/ballston">
            <img src="/assets/img/ballston-city.jpg">
            <p class="label" id="ballston-label">Ballston</p>
          </a>
        </div>
        <div class="four wide column img-wrap">
          <a href="/Crystal City">
            <img src="/assets/img/crystalcity.jpg">
            <p class="label" id="crystalcity-label">Crystal City</p>
          </a>
        </div>
        <div class="four wide column img-wrap">
          <a href="/georgetown">
            <img src="/assets/img/georgetown-city.jpg">
            <p class="label" id="georgetown-label">Georgetown</p>
          </a>
        </div>
        <div class="four wide column img-wrap">
          <a href="/District Wharf">
            <img src="/assets/img/district-wharf.jpg">
            <p class="label" id="wharf-label">District Wharf</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="stuff">
    <h3>Got a truck?</h3>
    <a href="/addtruck"><button class=" massive ui secondary basic button">Submit it to our platform!</button></a>
  </div>

</div>
{{!-- <div class="row">
  <div class="col-md-12">
    <center>

      {{#each locations}}
      <a href="/{{this.location}}" class="locationButton" data-id="{{this.location}}">
        {{this.location}}
      </a>
      <br>
      {{/each}}
      <a href="/addtruck">Got a Truck? Add it to Our Database!</a>

    </center>
  </div>
</div> --}}